 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body{
    height: 100vh;
    background-color:rgb(40, 12, 131);
    display: flex;
    flex-direction: column;
   
}
header{
    background-color: aqua;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border: 5px solid rgb(30, 22, 57);
    
}
.home{
    display: flex;
}
.home div{
    width: 150px;
    height: 50px;
    border: 2px solid black;
    background-color:  rgb(30, 22, 57);
    color: white;
    border-radius: 12px;
    margin-left: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
   

}

.home div:hover
{
    background-color:aqua;
    color: rgb(15, 13, 13);
    font-size: 19px;
    text-decoration: underline;
}
.home1 ul{
    list-style: none;
    display: none;
}
.home div:hover >li{
    background-color: aqua;
    z-index: 1;
}

main{
    background-color: beige;
    flex-grow: 5;
   display: flex;
   border: 3px solid white;
   padding-top: 1px;
}
aside{
    background-color: blueviolet;
    flex-grow: 2;
    border: 2px solid white;
}
nav{
    background-color:  rgb(30, 22, 57);
    flex-grow: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    padding-left: 10px;
}


 .one{ 
    position: relative;
    height: 400px;
    width: 300px;
    background-color: rgb(30, 22, 57);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(30, 22, 57);
    border-radius: 12px;
   overflow: hidden;
   
  
}

.one::before{
    content: '';
    position:absolute;
    width: 320px;
    height: 130%;
    background: linear-gradient(#00ccff,#d400d4);
    animation: animate 4s linear infinite;
}
.one::after{
    content: '';
    position: absolute;
    inset: 7px;
    background-color:rgb(30, 22, 57) ;
    border-radius: 55px;
    
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.one h1,.one input{
    z-index: 1;
}
.one h1{
    color: white;
    
} 
footer{
    background-color: rgb(62, 78, 78);
    flex-grow: 3;
    border: 3px solid white;
    padding-top: 10px;
}
#sam{
    height: 30px;
    width: 100px;
    font-size: 20px;
    background-color:black;
    color: white;
    font-family: cursive;
    border: 2px 2px 2px 2px 2px;
    list-style:solid ;
    border-color: white;
    border-radius: 10px;
    cursor: pointer;
}
#sam:hover{
    color: red;
   
}
input{
    height: 35px;
    border: 3px solid red;
    border-radius: 15px;
    
}
input:hover{
    background-color: #9f9f9f;
    color: #cc1313;
}
::placeholder{
    font-size: 20px;
    padding: 15px;
    font-family: cursive;
}