@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

p{
    font-weight: 300;
    color: black;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .content{
    max-width: 900px;
    text-align: center;
}