 *{
   margin: 0;
    /* padding: 0;  */
} 
.maincont{
     
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
aside{
    background-color: rgb(241, 241, 241);
    flex-grow: 4;
   display: inline-block;
 
    border-right: 2px solid black;
    flex-wrap: wrap;
  
}
.img img{
      position: relative;
      top: 20px;
      left: 50px;
       max-width:200px;
       /* justify-content: center;
       align-items: center; */
       flex-basis: 200px;
}
.h1{
   
    font-size: 30px;
    text-align: center;
    font-family: cursive;
}
.ul li{
     font-size: 25px;
    text-align: center;
    padding: 20px;
    list-style: none;
}
.ul li a{
    text-decoration: none;
}
article{
    margin-left: 10px;
    background-color: whitesmoke;
    flex-grow: 7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 400px;
    /* justify-content: space-between; */
}

.menu1{
    display: flex;
    justify-content: flex-end;
}
.menu1 li{
    list-style: none;
    margin: 5px;
}
.menu1 li a{
    text-decoration: none;
    font-size: 15px;

}
.menubar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.menu2{
    display: flex;
    flex-grow: 10; 
    flex-wrap: nowrap;
    
}
.menu2 li{
    list-style: none;
    margin: 5px;
    border-style: solid;
    border-color: aqua;
    border-width:0px 2px 2px 2px ;
   

}
.menu2 li a{
    text-decoration: none;
    font-size: 15px;

}
.menu2a{
    display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
}
.menu2a li{
   
    list-style: none;
    margin: 5px;
    border-style: solid;
    border-color: aqua;
    border-width:0px 2px 2px 2px ;
   

}
.menu2a li a{
    text-decoration: none;
    font-size: 15px;

}
.sahil{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.one{
    font-size: 35px;
    font-weight: bold;
}
.paragraph{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.paraintro{
    flex-wrap: wrap;
    flex-grow: 3;
    flex-basis: 70px;
    text-align:justify;
    margin: 10px;
    display: flex;
}
/* .paragraph img{
    max-width: 200px;
    flex-basis: 200px;
    background-color: aqua;
    justify-content: center;
    

} */
.image{
  flex-basis: 100px;
  padding: 15px;
  background-color: rgb(163, 22, 22);
  display: flex;
   /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px; 
}
.info{
  flex-grow: 2;
  flex-basis: 100px;
}





