*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    background-color: black;
}
.cube{
    position: relative;
    height: 300px;
    width: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate;
}
@keyframes animate{
    0
}